.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; /* This will make the container take the full height of the viewport */
}

.form-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.alert {
  color: red;
}
